/* 5.	ở giữa các phần tử inline-block luôn có 1 khoảng trắng 4px => muốn loại bỏ set word-spacing: -4px hoặc font-size: 0px cho wrap và word-spacing: 0px hoặc font-size: 14px cho từng item */
.wrap {
    word-spacing: -4px;
}

.item {
    display: inline-block;
    width: 50%;
    word-spacing: 4px;
    
    font-size: 32px;
    text-align: center;
}

.item1 {
    background-color: aquamarine;
}

.item2 {
    background-color: bisque;
}